.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #f0f0f0;
  padding: 60px;
}
.head{
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
.paar{
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}
.person{
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  width: 500px;
}
.person:hover{
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease;
  background-color:azure;
}
.person-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-top: 20px;

}
.person-image:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  
}
.person-info{
  margin-left: 20px;

}
.people{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.person-name{
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}
.person-age{
  font-size: 1.2rem;
  color: #666;
}
.button{
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.button:hover{
  background-color: #0056b3;
}
.button:focus{
  outline: none;
}
.button:active{
  background-color: #004080;
}
.footer{
  margin-top: 10px;
  font-size: 0.9rem; }
.length{
  font-weight: bold;
  font-size: 25px;
  font-family: 'sans-serif';
  margin: 5px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin:20px;
  gap: 20px;
}
.btn{
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.del{
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  margin-top: 60px;
}


@media (max-width: 768px) {
  .container {
    padding: 20px;
    width: 100%;
  }
  .person {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:10px;
  }
  .person-image {
    margin-bottom: 10px;
    margin-left: 0;
    width: 60px;
    height: 60px;
  }
  .person-info {
    margin-left: 0;
    text-align: center;
  }
  .buttons {
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }
  .del{
    margin-left: -5px;
    
  }
}

/* Extra small devices */
@media (max-width: 480px) {
  .container {
    padding: 10px;
  }
  .head {
    font-size: 1.2rem;
  }
  .person {
    padding: 5px;
  }
  .person-name {
    font-size: 1rem;
  }
  .person-age {
    font-size: 0.9rem;
  }
  .btn, .button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

}
